h1{
    font-size: 68px;
    font-family: "Advent Pro", sans-serif;
    margin-top: 0;
    margin-bottom: 80px;
}

body{
    /* margin-top: 5%; */
    background-image: url(jbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Andada Pro", serif;
    font-size: 15px;
    gap: 8px;
}

#description1{
    display: none;
}

#btn1:hover{
    transform:scale(1.05);
}

#btn1:hover #description1{
    display: block;
    font-size: 12px;
    color:rgb(241, 156, 169);
}

.popup{
    width: 380px;
    height: 220px;
    background: #fff;
    border-radius: 20px;
    border-color: dimgray;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.closebtn{
    padding: 10px 60px;
    margin-top: 20px;
    background: #fff;
    border-radius: 0;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
    font-family: "Andada Pro", serif;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

#file1, #file2, #file3, #file4, #file5{
    font-family: "Andada Pro", serif;
    color:cornflowerblue;
    margin-top: 5px;
}

#file1:hover, #file2:hover, #file3:hover, #file4:hover, #file5:hover{
    transform:scale(1.05);
    color:rgb(241, 156, 169);
}

#title{
    font-family: "Andada Pro", serif;
    font-size: 28px;
    margin-bottom: 12px;
}

#backbtn {
    margin: 0px;
}