.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1, #btn2, #btn3, #btn4 {
    font-size: 25px;
    font-family: "Andada Pro", serif;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 15px;
    border-radius: 5px;
    border: 2px;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover{
    background-color:rgb(235, 232, 205);
    transform:scale(1.05);
}