h1{
    font-size: 68px;
    font-family: "Advent Pro", sans-serif;   
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

#btn1:hover{
    transform:scale(1.05);
}