h1{
    font-size: 200px;
    margin-bottom: 2px;
    font-family: "Pinyon Script", cursive;
    font-weight: 530;
    font-style: normal;
    margin-top: 3%;
    color: #F4C9D6;
}

h2{
    font-size: 180px;
    font-family: "Advent Pro", serif;
    font-style: normal;
    font-weight: 400;
    margin-top: -80px;
    color: #F4C9D6;
}

#p1{
    font-size: 20px;
    margin-top: 10px;
    font-family: "Andada Pro", serif;
}

body{
    /* margin-top: 15%;
    margin-bottom: 15%; */
    background-image: url(brwn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-color: #36221f; */
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1, #btn2, #btn3, #btn4 {
    font-size: 25px;
    font-family: "Andada Pro", serif;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 15px;
    border-radius: 5px;
    border: 2px;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover{
    background-color:rgb(235, 232, 205);
    transform:scale(1.05);
}