h1{
    font-size: 68px;
    /* margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%; */
    margin-top: 0px;
    text-align: center;
    font-family: "Advent Pro", sans-serif;
}

#overview {
    font-size: 15px;
    font-family: "Andada Pro", serif;
    margin-bottom: 40px;
    padding-left: 12%;
    padding-right: 12%;
}

#sameDayContainer {
    display: none;
}

#label1, #label2, #label3, #label4, #label5, #label6 {
    font-size: 25px;
    font-family: "Andada Pro", serif;
    margin-top: 2%;
    margin-bottom: 2%;
}

.error{
    color: red;
}

body{
    background-color: rgb(194, 230, 241);
}

.row {
    display: grid;
    grid-template-columns: 180px 100px;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    margin-left: 15%
}

#btn1 {
    display: block;
    margin: 0 auto;
}

#result {
    text-align: center;
}

#type:hover{
    cursor: pointer;
}

#size:hover{
    cursor: pointer;
}

#insurance:hover {
    cursor: pointer;
}

#sameDayDel:hover {
    cursor: pointer;
}

#btn1:hover{
    cursor: pointer;
}
