h1{
    font-size: 68px;
    margin: 50%;
    font-family: "Advent Pro", sans-serif;
}

#label1, #label2, #label3, #label4, #label5, #label6 {
    font-size: 25px;
    font-family: "Andada Pro", serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

.error{
    color: red;
}

body{
    background-color: rgb(194, 230, 241);
}

#btn1:hover{
    cursor: pointer;
}