h1{
    font-size: 68px;
    margin-top: 0px;
    margin-bottom: 3px;
    text-align: center;
    font-family: "Advent Pro", sans-serif;
}

body{
    margin-top: 5%;
    background-image: url(../../../jbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}